
  <div class="general">
    <!--Barra de navegación -->
    <div id="nav">
      <div class="barraNavegacion">
        <a href='localhost:3000'><img id="logoIndex" width="50px" heigth="50px"></a>
        <input type="text" id="busqueda" placeholder=" ¿Qué estás buscando?">
        <a id="img" href="publicacion.html">
          <img id="imgBusqueda" width="25px" heigth="25px"></a>
        <a href="users/login">Ingresar</a>
        <a href="users/new">Registrarse</a>
        <a href="">Publicar</a>
      </div>
    </div>

    <div id="imagenes">
      <div class="gallery">
        <a href="home/resultado">
          <img id="imgParticular">
        </a>
        <a href="home/resultado" class="desc">Autos Particulares</a>
      </div>

      <div class="gallery">
        <a href="home/resultado">
          <img id="imgFamiliar">
        </a>
        <a href="home/resultado" class="desc">Autos Familiares</a>
      </div>

      <div class="gallery">
        <a href="home/resultado">
          <img id="imgBus">
        </a>
        <a href="home/resultado" class="desc">Buses</a>
      </div>

      <div class="gallery">
        <a href="home/resultado">
          <img id="imgTodo">
        </a>
        <a href="home/resultado" class="desc">Ver todo</a>
      </div>

      <div class="gallery">
        <a href="home/resultado">
          <img id="imgTaxi">
        </a>
        <a href="home/resultado" class="desc">Taxis</a>
      </div>

      <div class="gallery">
        <a href="home/resultado">
          <img id="imgCamioneta">
        </a>
        <a href="home/resultado" class="desc">Camionetas</a>
      </div>
    </div>
  </div>
