
    <div class="login">
      <img class="logo">
      <h1>Sign in</h1>
      <form>
        <!-- Usuario -->
        <label for="username">Username</label>
        <input type="text" placeholder="Ingrese el usuario">
        <!-- Contraseña -->
        <label for="password">Password</label>
        <input type="password" placeholder="Ingrese la contraseña ">
        <input type="submit" value="Log In" id="ingresar">
        <a href="#">Olvidaste la Contraseña?</a><br>
        <a href="#">Eres Nuevo? Registrate</a>
      </form>
    </div>
