
    <link rel="stylesheet" href="css/style_publicacion.css">

    <div class="general">

      <!-- Barra de navegación -->
      <div id="nav">
        <div class="barraNavegacion">
          <a href='localhost:3000'><img id="logoIndex" width="50px" heigth="50px"></a>
          <input type="text" id="busqueda" placeholder=" ¿Qué estás buscando?">
          <a id="img" href="publicacion.html">
            <img id="imgBusqueda" width="25px" heigth="25px"></a>
          <a href="users/login">Ingresar</a>
          <a href="users/new">Registrarse</a>
          <a href="">Publicar</a>
        </div>
      </div>

      <div class="imagenesPrevias">
        <div class="item">
          <img id="imgItem1" width=140px height=100px>
        </div>

        <div class="item">
          <img id="imgItem2" width=140px height=100px>
        </div>

        <div class="item">
          <img id="imgItem3" width=140px height=100px>
        </div>

        <div class="item">
          <img id="imgItem4" width=140px height=100px>
        </div>
      </div>

      <div class="imagenCompleta">
        <div class="item">
          <img id="imgItem0" width=490px height=auto>
        </div>
      </div>

      <div class="descripcion">
        <h1 class="titulo">Alquilo wea en perfecto estado</h1>
        <h1 class="cuerpo">*Contenido de la publicación*
          Ejmpl.
          Mi camioneta está en perfecto estado, es ideal para recorrer grandes distancias y su motor de alta potencia permite cargar material pesado sin esfuerzo.

          Los precios son, a mi parecer, una ganga por el buen vehículo que ofrezco. Solo vean las imágenes, está en su 100%!!

          Los interesados escribirme al correo: example@hotmail.com o llamar al 987 765 443.
        </h1>
        <h1 class="precio">Precio: S/.300</h1>
        <h1 class="etiquetas">
          <a href="">camioneta</a> |
          <a href="">nuevo</a> |
          <a href="">cargamento</a> |
          <a href="">precio a tratar</a>
        </h1>
      </div>

      <div class="anuncios">
        <img id="anuncio" width="266" height="450">
      </div>

      <h1>También te pueden interesar:</h1>
      <div class="relacionados">
        <div class="item">
          <a href="#">
            <img id="recomend1" width="325">
          </a>
          <a href="#" class="desc">Vuelvete la envidia de tus amigos</a>
        </div>

        <div class="item">
          <a href="#">
            <img id="recomend2" width="325">
          </a>
          <a href="#" class="desc">Vuelvete la envidia de tus amigos</a>
        </div>

        <div class="item">
          <a href="#">
            <img id="recomend3" width="325">
          </a>
          <a href="#" class="desc">Vuelvete la envidia de tus amigos</a>
        </div>

      </div>
  </div>
