

    <div class="registro">
      <img class="logo">
      <h1>Registro</h1>
      <h3>Alquileres seguros y confiables</h3>
      <form>
        <label for="password">Nombre(obligatorio)</label>
        <label for="password">Apellidos(obligatorio)</label>

        <input type="text" placeholder="Nombre" class="juntos">

        <input type="text" placeholder="Apellidos" class="juntos">

        <label for="text">Introduce tu numero de telefono(obligatorio)</label>
        <input type="text" placeholder="Numero de telefono ">

        <label for="password">Introduce tu email(obligatorio)</label>
        <input type="text" placeholder="Email">

        <label for="password">Usuario</label>
        <input type="text" placeholder="Usuario ">

        <label for="password">Contraseña</label>
        <input type="password" placeholder="Contraseña">

        <input type="submit" value="Registrate">
        <footer>Al registrate, aceptas las <a href="#">condiciones de uso</a> de CarWave y reconoces haber leido su <a href="#">politica de privacidad</a></footer>


      </form>
    </div>
