
  <div class="general">
    <!-- Barra de navegación -->
    <div id="nav">
      <div class="barraNavegacion">
        <a href='localhost:3000'><img id="logoIndex" width="50px" heigth="50px"></a>
        <input type="text" id="busqueda" placeholder=" ¿Qué estás buscando?">
        <a id="img" href="publicacion.html">
          <img id="imgBusqueda" width="25px" heigth="25px"></a>
        <a href="users/login">Ingresar</a>
        <a href="users/new">Registrarse</a>
        <a href="">Publicar</a>
      </div>
    </div>

    <div class="panelIzquierdo">

      <div class="listaPublicaciones">
        <a href="publicacion">
          <img id="imgTaxi2" width=280px height=200px>
        </a>
      </div>
      <div class="listaPublicaciones"></div>
      <div class="listaPublicaciones"></div>
      <div class="listaPublicaciones"></div>
      <div class="listaPublicaciones"></div>
      <div class="listaPublicaciones"></div>
      <div class="listaPublicaciones"></div>
      <div class="listaPublicaciones"></div>
      <div class="listaPublicaciones"></div>
      <div class="listaPublicaciones"></div>

      <div class="acordeonFiltros">
        <div id="acordeon">
          <h1>Mostrar resultados de:</h1>
          <div>
            <p>
              <a href="https://www.google.com/">Amazona<br></a>
              <a href="https://www.google.com/">Ancash<br></a>
              <a href="https://www.google.com/">Apurimac<br></a>
              <a href="https://www.google.com/">Ayacucho<br></a>
              <a href="https://www.google.com/">Arequipa<br></a>
              <a href="https://www.google.com/">Cajamarca<br></a>
              <a href="https://www.google.com/">Cusco<br></a>
              <a href="https://www.google.com/">Huancavelica<br></a>
              <a href="https://www.google.com/">Huánuco<br></a>
              <a href="https://www.google.com/">Ica<br></a>
              <a href="https://www.google.com/">Junín<br></a>
              <a href="https://www.google.com/">La Libertad<br></a>
              <a href="https://www.google.com/">Lambayeque<br></a>
              <a href="https://www.google.com/">Lima<br></a>
              <a href="https://www.google.com/">Loreto<br></a>
              <a href="https://www.google.com/">Madre de Dios<br></a>
              <a href="https://www.google.com/">Moquegua<br></a>
              <a href="https://www.google.com/">Pasco<br></a>
              <a href="https://www.google.com/">Piura<br></a>
              <a href="https://www.google.com/">Puno<br></a>
              <a href="https://www.google.com/">San Martín<br></a>
              <a href="https://www.google.com/">Tacna<br></a>
              <a href="https://www.google.com/">Tumbes<br></a>
              <a href="https://www.google.com/">Ucayali<br></a>
            </ul></p>
          </div>
          <h1>Mostrar resultados de: </h1>
          <div>
            <p>
              <a href="https://www.google.com/">Este año<br></a>
              <a href="https://www.google.com/">Este mes<br></a>
              <a href="https://www.google.com/">Esta semana<br></a>
              <a href="https://www.google.com/">Hoy<br></a>
            </p>
          </div>

          <h1>Ordenar por: </h1>
          <div>
            <p>
              Precio:<br>
              <a href="https://www.google.com">Mayor a menor<br></a>
              <a href="https://www.google.com">Menor a mayor<br><br></a>
              Fecha de publicación:<br>
              <a href="https://www.google.com">Mayor a menor<br></a>
              <a href="https://www.google.com">Menor a mayor<br></a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="panelDerecho">
      <div class="anuncios">

      </div>
    </div>

  </div>
