.general{
  background-color: rgba(0,0,0,0);
  width: auto;
  height: auto;
}

.barraNavegacion{
  padding-bottom: 5px;
  height: 63px;
}

#imgPlus1, #imgPlus2, #imgPlus3, #imgPlus4, #imgPlus0{
  content: url("imagenes/plus.png");
}
#imgAnuncio_publicar{
  content: url("imagenes/anuncio1.png");
}
#logoTSD{
  content: url("imagenes/logo.png");
}

#nav{
  background-color: #00709f;
  width: 1366px;
}

#nav a:hover{
  color: #faffa3;
}

#nav a{
  display: inline-block;
  padding: 0 50px 0 50px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-shadow: #000 0 -1px 0;
}

.barraNavegacion input{
  height: 30px;
  width: 350px;
  font-size: 20px;
  padding-left: 5px;
  border: none;
}

body{
  margin: auto;
}

div.general{
  background-color: rgba(0,0,0,0);
  width: 1366px;
  height: auto;
}

div.imagenesPrevias{
  float: left;
  background-color: black;
  width: 150px;
  height: auto;
  margin-top: 100px;
}

div.imagenCompleta{
  float: left;
  width: 490px;
  height: auto;
  margin-top: 80px;
}

div.descripcion{
  float: left;
  width: 460px;
  height: auto;
  text-align: center;
}

div.anuncios{
  background-color: green;
  float: right;
  width: 266px;
  height: 450px;
  margin-top: 100px;
}

div.relacionados{
  background-color: yellow;
  width: 1100px;
  height: auto;
  float: left;
}

.imagenesPrevias .item{
  margin: 5px 5px 5px 5px;
  background-color: white;
  text-align: center;
}

.imagenCompleta .item{
  width:490px;
  height:auto;
}

.descripcion .titulo{
  font-weight: bold;
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
  max-width: 440px;
  max-height: 100px;
  min-width: 440px;
  min-height: 100px;
  margin-top: 20px;
  background-color: #f7f7f7;
}

.descripcion .cuerpo{
  text-align: left;
  font-weight: normal;
  font-size: 25px;
  margin-top: 5px;
  max-width: 440px;
  max-height: 200px;
  min-width: 440px;
  min-height: 200px;
  background-color: #f7f7f7;
}

.descripcion .adicional{
  border: 1px solid black;
  width: 440px;
  height: auto;
  margin: 0 5px 0 10px;
  text-align: right;
  background-color: #f7f7f7;
}

.adicional input, .adicional select {
  width: 130px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 20px;
  margin-left: 2px;
}

.adicional h1{
  margin: 0 90px 5px 0;
  font-weight: normal;
  font-size: 25px;
}

.descripcion .precio{
  width: 75px;
  height: 20px;
  font-size: 20px;
  border: solid 1px;
}

.descripcion #publicar, .descripcion #cancelar{
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
  background-color: #00709f;
  color: white;
}

.descripcion #cancelar{
  background-color: #b80f22;
}

.descripcion > h1{
  margin: 5px 0 5px 0;
}

a{
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: lighter;
}

.footer{
  width: 1366px;
  height: 150px;
  margin-top: 25px;
  float: right;
  font-size: 25px;
  font-weight: bold;
  border-top: 4px solid #00709f;
  border-bottom: 4px solid #00709f;
}

.footer .infoContacto{
  width: 681px;
  height: 100%;
  float: left;
}

.infoContacto img{
  margin: 0 0 0 5px;
  float: left;
}

.infoContacto h1{
  float: left;
  margin-left: 40px;
  font-size: 20px;
}

.infoContacto ul{
  margin: 0 0 0 0;
}

.footer .sopoTecnico{
  background-color: #00709f;
  width: 409px;
  height: 100%;
  float: left;
  font-size: 30px;
  border-right: 1px;
  text-align: center;
  color: white;
}

.sopoTecnico h1{
  font-size: 22px;
}

.footer .copyright{
  background-color: #00709f;
  width: 275px;
  height: 100%;
  float: right;
  font-size: 22px;
  text-align: center;
  color: white;
}
