.barraNavegacion{
  padding-bottom: 5px;
}

.acordeonFiltros{
  width: 200px;
  background: #AE4A84;
}

.listaPublicaciones{
  width: 850px;
  height: 200px;
  background-color: blue;
  float: right;
  margin: 25px 25px 5px 0;
}

#imgTaxi2{
  content: url(imagenes/taxi.png);
  float: right;
}

.anuncios{
  width: 266px;
  height: 680px;
  background-color: green;
}

#nav{
  background-color: #00709f;
  width: 1366px;
}

#nav a:hover{
  color: #faffa3;
}

#nav a{
  display: inline-block;
  padding: 0 50px 0 50px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-shadow: #000 0 -1px 0;
}

input{
  height: 30px;
  width: 350px;
  font-size: 20px;
  padding-left: 5px;
  border: none;
}

body{
  margin: auto;
}

div.general{
  background-color: rgba(0,0,0,0);
  width: 1366px;
  height: auto;
}

div.panelIzquierdo{
  float: left;
  width: 1100px;
  height: auto;
}

div.panelDerecho{
  float: right;
  width: 266px;
  height: auto;
}
