
div.dato{
  font-family: Sans-serif;
  width: 450px;
  height: 350px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  margin: 7% 0% 0% 3%;
  padding: 20px 15px;
  float: left;
}
#imgCabeza{
  content: url("imagenes/cabeza.png");
}
div.imagen{
  font-family: Sans-serif;
  color: #000;
  float: left;
  margin: 7% 0% 0% 10%;
}
div.img{
  border: black;
}
